<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="auth.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="history">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
          </li>
        </ng-container>
        <ng-container *ngIf="!auth.isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
