<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<div class="container"  *ngIf="loading == false" >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <form class="">
        <h1 class="h3 mb-3 font-weight-normal">Login to Account</h1>
        <ng-container *ngIf="(error == true)">
          <div class="alert alert-danger">
            The credentials are not valid.
              <button type="button" class="close" (click)="error = false" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
        </ng-container>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="email" [(ngModel)]="user.email" class="form-control" placeholder="Email address" required autofocus />
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password"  name="password" [(ngModel)]="user.password"  class="form-control" placeholder="Password" required />
        </div>
        <div class="form-group">
          <a class="btn btn-lg btn-primary " (click)="login()">Sign In</a>
          No Account? <a routerLink="/register">Register</a>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
        </div>
      </form>
    </div>
  </div>
</div>



