<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Restaurant Delicious</h1>
      <p class="lead text-muted">Something short and leading about the restaurant</p>
    </div>
  </section>
</main>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="d-block d-md-none">
        <div class="fixed-bottom p-3 bg-dark" *ngIf="basket.count() > 0">
            <a href="#basket" class="  btn btn-primary  p-2 ">
              View Basket <i class="fas fa-shopping-cart fa-1x"></i>
            </a>
        </div>
      </div>
      <ngx-smart-modal #itemModal customClass="large-modal" (onClose)="closeItemDetails()" identifier="itemModal">
        <div *ngIf="hasItemInFocus()">
          <div class="p-1 bg-primary"></div>
          <div class="p-3">
            <div class="p-lg-2">
              <h2 class="mt-0 mb-1">{{ itemInFocus.name}}</h2>
              <p class="lead">
                {{ itemInFocus.description }}
              </p>
              <h4 class="mt-0 mb-1" *ngIf="'itemInFocus.subtotal_price > 0'">
                +AED {{ itemInFocus.subtotal_price }}
              </h4>
            </div>
          </div>
          <hr/>
          <div class="p-3">

            <div class="row mb-3 mt-3">
              <div class="col-12" *ngIf="itemInFocus.item.hasVariations()">
                <div class="form-check lead form-check-inline" *ngFor="let variation of itemInFocus.item.variations; index as i;" >
                  <div class="lead form-check">
                    <input id="option_{{variation.id}}" 
                        name="option"  type="radio" [ngModel]="itemInFocus.selected_variation" class="form-check-input"
                        [value]="variation"
                        (change)="itemInFocus.selectVariation(variation)" /> 
                      <label  class="form-check-label"  for="option_{{variation.id}}">
                        {{ variation.name }}
                      </label> 
                      <span class="text-black-50 ml-3"> AED {{ variation.price }}</span>
                  </div>                      
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="p-3">
            <div class="row">
              <div class="col-md-6">
                <div class="p-lg-2">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button (click)="itemInFocus.decrement(1)" class="btn btn-outline-dark">-</button>
                    </div>
                    <input class="col-md-2 form-control text-center"  [(ngModel)]="itemInFocus.qty" />
                    <div class="input-group-append">
                      <button (click)="itemInFocus.increment(1) " class="btn btn-outline-dark">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-lg-2 text-right">
                  <button (click)="addItemToCart(itemInFocus)" class="btn btn-lg btn-primary">Add to Basket</button>
                  <button (click)="itemModal.close()"  class="btn btn-light">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-smart-modal>

      <ngx-smart-modal #comboModal customClass="large-modal" (onClose)="closeComboDetails()" identifier="comboModal">
          <div *ngIf="hasComboInFocus()">
            <div class="p-1 bg-primary"></div>
            <div class="p-3">
              <div class="p-lg-2">
                <div class="alert alert-danger" *ngIf="comboInFocus.hasErrors()">
                  {{ comboInFocus.errors.join(', ') }}
                </div>
                <h2 class="mt-0 mb-1">{{ comboInFocus.name}}</h2>
                <p class="lead">
                  {{ comboInFocus.description }}
                </p>
                <h4 class="mt-0 mb-1" *ngIf="'comboInFocus.subtotal_price > 0'">
                  +AED {{ comboInFocus.subtotal_price }}
                </h4>
              </div>
            </div>
            <hr/>
            <div class="p-3">
              <div class="p-lg-2" *ngIf="comboInFocus.combo.selectables.length > 0">
                <div class="" *ngFor="let selectable of comboInFocus.combo.selectables; index as i;" >
                  <h4 class="">{{ selectable.name  }} <small class="text-black-50">(Required Select One)</small></h4>
                  <form class="mt-3 mb-3">  
                    <div class="row">
                      <div class="col-md-2" *ngFor="let option of selectable.options; index as x;">
                        <div class="form-group form-check lead">
                          <input id="option_{{i}}_{{x}}"  class="form-check-input"
                                name="option_{{ i }}"  type="radio" [checked]="comboInFocus.isSelectedOption(option)" 
                                [value]="option"
                                (change)="comboInFocus.toggleOption(option)" />
                          <label class="form-check-label" for="option_{{i}}_{{x}}">
                            {{ option.name }}  
                            <span *ngIf="option.price>0" class="text-black-50 ml-3">
                              +AED {{ option.price }}
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <hr/>
            <div class="p-3">
              <div class="row">
                <div class="col-md-6">
                  <div class="p-lg-2">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <button (click)="comboInFocus.decrement(1)" class="btn btn-outline-dark">-</button>
                      </div>
                      <input class="col-md-2 form-control text-center"  [(ngModel)]="comboInFocus.qty" />
                      <div class="input-group-append">
                        <button (click)="comboInFocus.increment(1)" class="btn btn-outline-dark">+</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p-lg-2 text-right">
                    <button (click)="addComboToCart(comboInFocus)" class="btn btn-lg btn-primary">Add to Basket</button>
                    <button (click)="comboModal.close()"  class="btn btn-light">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-smart-modal>      

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


      <div *ngFor="let menu of menus">
        <div class="text-left">
          <h4>{{ menu.name }}</h4>

        </div>
        <ng-container  *ngFor="let section of menu.sections" >        
          <ul class="list-unstyled" *ngIf="(section.items.length + section.combos.length) > 0" >
            <li class="media my-4 p-3 mb-2 bg-primary text-white">
              <h5 class="mt-0 mb-1">{{ section.name }}</h5>
            </li>
            <li *ngFor="let item of section.items" class="hoverable border-bottom media py-4 pt-4" (click)="openItemDetails(item)" >
              <img class="mr-3 img-thumbnail" width="40" *ngIf="item.photo_id > 0" [src]="item.photo.small_image_path" [alt]="'Photo of' + item.name" />
              <div class="media-body">
                <div class="float-right">
                  <span *ngIf="item.variations.length > 0"><b class="mt-0 mb-1">+AED {{ item.variations[0].price  }}</b></span>
                  <span *ngIf="item.variations.length == 0"><b class="mt-0 mb-1">+AED {{ item.base_price  }}</b></span>
                </div>
                <div class="lead mt-0 mb-1">{{ item.name}}</div>
                {{ item.description }}
              </div>
            </li>
            <li *ngFor="let combo of section.combos" class="hoverable border-bottom media py-4 pt-4"  (click)="openComboDetails(combo)" >
              <img class="mr-3 img-thumbnail" width="40" *ngIf="combo.photo_id > 0" [src]="combo.photo.small_image_path" [alt]="'Photo of' + combo.name" />
              <div class="media-body">
                <div class="float-right">
                  <b class="mt-0 mb-1">AED {{ combo.base_price  }}</b>
                </div>
                <div class="lead mt-0 mb-1">{{ combo.name}}</div>
                {{ combo.description }}
              </div>
            </li>
          </ul>
        </ng-container>
        <p><br/></p>
      </div>
    </div>
    <div id="basket" class="col-sm-12 col-md-4">
      <div *ngIf="cartIsEmpty()">
        <div class="border text-center p-5">
          <p><i class="fas fa-shopping-basket fa-7x"></i></p>
          <p class="lead">
            Your basket is empty!
          </p>
        </div>
      </div>
      <div *ngIf="!cartIsEmpty()">
        <ul class="list-group">
          <li class="list-group-item bg-primary text-center  text-light">
            <p class="lead text-light">Your Basket</p>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.items); ">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <div>
                <a href="javascript:void(0)" (click)="basket.removeItems(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
                <small>{{ basket_item['value'].formatted_extras }}</small>
              </div>
            </div>
          </li>
          <li class="list-group-item" *ngFor="let basket_item of generateArray(basket.combos); ">
            <div>
              {{ basket_item['value'].qty }} x {{ basket_item['value'].name }}
              <div class="float-right">AED {{ basket_item['value'].subtotal_price }}</div>
              <div>
                <a href="javascript:void(0)" (click)="basket.removeCombos(basket_item['key'])">
                  <i class="fas fa-trash"></i>
                </a>
                <small>{{ basket_item['value'].formatted_extras }}</small>
              </div>
            </div>
          </li>
          <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ basket.subtotal }}</div> </li>
          <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ basket.delivery_charges }}</div> </li>
          <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ basket.total }}</div> </h5></li>
          <li class="list-group-item">
            <a href="javascript:void(0)" (click)="proceedToCheckout()" class="btn btn-block btn-primary">Check Out</a>
          </li>
        </ul>
      </div>
      <br/><br/><br/><br/><br/><br/><br/>
    </div>
  </div>
</div>