<div class="loading" *ngIf="loading == true">Loading&#8230;</div>
<div class="container"  *ngIf="loading == false" >
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <ul class="list-unstyled" *ngIf="this.order.items.length > 0" >
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Order Summary</h5>
        </li>
        <li class=" p-4" >
          <div  *ngIf="error == true" >
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Sorry something wen't wrong - please check your order details or try again later.
                <button type="button" class="close" (click)="error = false" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          </div>
          <ul class="list-group btn-block">
            <li class="list-group-item" *ngFor="let item of this.order.items; ">
              <div>
                {{ item.qty }} x {{ item.item }}
                <br/>
                <small>{{ item.item_extras }}</small>
                <div class="float-right">AED {{ item.subtotal  }}</div>
              </div>
            </li>
            <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ this.order.subtotal }}</div> </li>
            <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ this.order.delivery_charge  }}</div> </li>
            <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ this.order.total }}</div> </h5></li>
          </ul>
        </li>
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Delivery Details</h5>
        </li>
        <li class="p-4"*ngIf="auth.isLoggedIn() && (addresses.length > 0)" >
          <ul class="list-group" >
            <li class="list-group-item" >
              <b>Select from saved address</b>
            </li>

            <li class="list-group-item" *ngFor="let one_address of addresses;">
              <input type="radio" name="selected_address" (click)="setCurrentAddress(one_address)">
              {{ one_address.getDisplayable() }} 
              <a href="javascript:void(0)" class="btn btn-xs float-right btn-danger" (click)="removeAddress(one_address)"><i class="fas fa-trash"></i></a>
            </li>
            <li class="list-group-item">
              <a href="javascript:void(0)" class="btn   btn-block btn-primary" (click)="addEmptyAddress()">Add A New Delivery Address</a>
            </li>
          </ul>
          <p></p>
        </li>

        <li class="p-4"*ngIf="showAddressForm == true" >
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="form-group">
                <input placeholder="Name of Customer" required [(ngModel)]="order.customer_name" class="form-control" /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <input placeholder="Email of Customer" required [(ngModel)]="order.customer_email" class="form-control"  /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <input placeholder="Phone of Customer" required [(ngModel)]="order.customer_phone" class="form-control"  /> 
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="House No. Flat No." required  [(ngModel)]="order.address.house_no" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.house_no.invalid && (order.address.house_no.dirty || order.address.house_no.touched)">
                      Where is your house?
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="Street Name/Landmark" required minlength="10" [(ngModel)]="order.address.street" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.street.invalid && (order.address.street.dirty || order.address.street.touched)">
                      Street name is invalid
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <input placeholder="Address Line 1" required minlength="10" [(ngModel)]="order.address.address_1" class="form-control"  /> 
                  <div class="alert alert-danger" *ngIf="order.address.address_1.invalid && (order.address.address_1.dirty || order.address.address_1.touched)">
                      Address line is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <input placeholder="Address Line 2" [(ngModel)]="order.address.address_2" class="form-control"  /> 
                  </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <select [(ngModel)]="order.address.city_id" required (change)="order.address.city_name = $event.target.options[$event.target.selectedIndex].text" class="form-control" (click)="setCurrentZonesSelectable()" (change)="setCurrentZonesSelectable()">
                      <option *ngFor="let city of delivery_locations" [value]="city.id">{{ city.name }}</option>
                    </select>
                  </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <select [(ngModel)]="order.address.zone_id" required (change)="order.address.zone_name = $event.target.options[$event.target.selectedIndex].text" class="form-control">
                    <option *ngFor="let zone of current_zones" [value]="zone.id">{{ zone.name }}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="!(order.address.id > 0) && (auth.isLoggedIn())" class="col-md-12 col-xs-12">
                  <div class="form-group">
                      <input type="checkbox" [(ngModel)]="order.address.is_addable" [value]="1" />
                      Check to save address
                  </div>
                </div>
          </div>
        </li>
        <li class=" my-4 p-3 mb-2 bg-primary text-white">
          <h5 class="mt-0 mb-1">Payment Mode</h5>
        </li>
        <li class=" p-4" >
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="payment"  type="radio" [(ngModel)]="order.payment_mode" value="cash"/> 
                    <label  class="form-check-label"  for="option_cash">
                      Cash
                    </label> 
                  </div>
                <div class="form-group">
                  <input name="payment"  type="radio" [(ngModel)]="order.payment_mode" value="card-on-delivery" /> 
                  <label  class="form-check-label"  for="option_card_delivery">
                    Card On Delivery
                  </label> 
                </div>
                <div class="form-group">
                  <input name="payment" type="radio" [(ngModel)]="order.payment_mode" value="card" /> 
                  <label  class="form-check-label"  for="option_card">
                    Pay Online
                  </label>
                </div>
              </div>
              <div class="col-md-6 ">
                <ul class="list-group btn-block">
                    <li class="list-group-item"><b>Subtotal:</b><div class="float-right">AED  {{ this.order.subtotal }}</div> </li>
                    <li class="list-group-item"><b>Delivery:</b><div class="float-right">AED {{ this.order.delivery_charge  }}</div> </li>
                    <li class="list-group-item"><h5><b>Total:</b><div class="float-right">AED {{ this.order.total }}</div> </h5></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <p>Comments if any?</p>
              <textarea [(ngModel)]="order.comments"   class="form-control w-100" placeholder="eg: Send more napkins, knock on door">
              </textarea>
            </div>
          </div>
        </li>
        <li class=" p-4" >
          <a href="javascript:void(0)" (click)="confirmOrder()" class="btn btn-primary btn-lg">Confirm</a>
          <a href="javascript:void(0)" (click)="goBackToMenu()" class="btn btn-light btn-lg">Back</a>
        </li>


          
      </ul>
    </div>
  </div>
</div>
  